.TopBar {
  background-color: #4CAF50; /* Color de fondo */
  overflow: hidden;
  width: 100%; /* Ocupar todo el ancho */
}

/* Estilo para el botón izquierdo */
.botonTop1 {
  float: left;
  margin: 10px; /* Margen izquierdo */
}

/* Estilo para el botón derecho */
.botonTop2 {
  float: right;
  margin: 10px; /* Margen derecho */
}

.ViajeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ViajeContent2 {
  width: 100%;
}

/* Estilos para la barra de gestión individual y grupal */
.ViajeCuentasIndividuales,
.ViajeCuentasGrupales {
  display: block;
  justify-content: space-between;
  width: 50%; /* Ocupar todo el ancho */
  margin: 5px; /* Margen superior */
  border: 1px solid black; /* Borde */
  padding: 10px; /* Espacio interno */
}

/* Estilos para la barra inferior */
.ViajeTransacciones,
.ViajePendientes {
  display: block;
  justify-content: space-between;
  width: 100%; /* Ocupar todo el ancho */
  margin-top: 20px; /* Margen superior */
  border-top: 1px solid black; /* Borde superior */
  padding-top: 10px; /* Espacio interno superior */
}

/* Estilos para la sección de transacciones y pagos */
.ViajeTransacciones,
.ViajePendientes {
  width: 50%; /* Ocupar la mitad del ancho */
}

/* Estilos para cada transacción individual */
.ViajeTransaccion,
.ViajePendiente {
  border-bottom: 1px solid black; /* Borde inferior */
  padding: 10px 0; /* Espacio interno */
  display: flex; /* Mostrar como flexbox */
  justify-content: space-between; /* Alinear elementos */
  width: 100%; /* Ocupar todo el ancho */
}

/* Estilos para los elementos dentro de cada transacción individual */
.ViajeTransaccion > *,
.ViajePendiente > * {
  flex-grow: 1; /* Ocupar todo el espacio disponible */
  flex-basis: 0; /* Restablecer el tamaño base */
}

/* Estilos para el texto dentro de cada transacción individual */
.ViajeNombre,
.ViajeCantidad,
.ViajePagadores,
.ViajePagador {
  white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
  overflow: hidden; /* Ocultar el texto que desborde */
  text-overflow: ellipsis; /* Mostrar puntos suspensivos si el texto desborda */
}
.ViajeInfo{
  display: flex;
}